/* Centrado de la imagen */
.image-container {
    text-align: center;
    margin-top: 20px;
}

.image-container img {
    display: block;
    margin: 0 auto;
    max-width: 80%; /* Ajusta este valor según sea necesario */
    height: auto;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Encabezado */
header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Navegación */
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    color: white;
    background-color: #007bff;
    border-radius: 5px;
    text-align: center;
}

.btn:hover {
    background-color: #0056b3;
}

/* Contenedor principal */
.container {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Formularios */
form {
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="number"],
select {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Tablas */
table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: white;
}

/* Checkbox */
input[type="checkbox"] {
    margin-right: 5px;
}
/* Estilos básicos para los botones */
.btn {
    border: none; /* Sin borde */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Relleno del botón */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Mostrar en línea */
    font-size: 16px; /* Tamaño de la fuente */
    margin: 4px 2px; /* Márgenes */
    cursor: pointer; /* Cursor de mano */
    border-radius: 4px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición de color */
}

/* Botón azul */
.btn-blue {
    background-color: #007bff; /* Azul */
}

/* Botón verde */
.btn-green {
    background-color: #28a745; /* Verde */
}

/* Botón rojo */
.btn-red {
    background-color: #dc3545; /* Rojo */
}

/* Botón amarillo */
.btn-yellow {
    background-color: #ffc107; /* Amarillo */
}

/* Botón gris */
.btn-gray {
    background-color: #6c757d; /* Gris */
}

/* Cambio de color al pasar el cursor */
.btn:hover {
    opacity: 0.8;
}
